.header {
  width: 100%;
  margin-bottom: 100px;
  border-bottom: 1px solid #dbe4f5;
  background-color: rgb(219, 228, 245);

  @media (max-width: 500px) {
    min-height: 64px;
    margin-bottom: 0;
  }
}
